bin/
obj/

.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

.vscode/
*.code-workspace
Makefile

*.xcodeworkspace
*.xcodeproj

EklipseEditor/Assets/Cache/
EklipseEditor/Resources/Export/
EklipseEditor/Resources/Scripting/Include/
EklipseEditor/Resources/Scripting/Lib/